.garrafa {
    margin: 40px;
    height: 555px;
    width: 340px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(15.5px);
    -webkit-backdrop-filter: blur(15.5px);
    border-radius: 30px;
    border: 1px solid rgba(192, 252, 82, 0.18);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    position: relative; /* Add this line to position the additional info */
}

.garrafa:hover {
    background-color: rgba(253, 255, 144, 0.25);
    transform: scale(1.1);
    transition: all 100ms;
}

.diveee {
    width: 105.9%;
    height: 270px;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

.abc {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.text {
    height: 1200px;
}

.cardInfo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.garrafa:hover .cardInfo {
    opacity: 1;
}
